<section id="about" class="container tester2">
  <div class="row">
    <div id="about-pic" class="col s12 m6">
      <img class="astronaut" src="assets/images/astronaut.svg">
    </div>
    <div class="col s12 m6 text-blurb">
      <h2>About Me</h2>
      <p class="center-align">Hi, I am Dillon Chanis. I'm a Web Developer based in Wilmington, North Carolina. I specialize in making MEAN and Django applications.</p>
      <div class="btn-container">
        <button class="waves-effect waves-light btn">
          Check Out My Blog
        </button>
      </div>  
    </div>
  </div>
</section>