<section id="work" class="container">
  <div class="comet-holder">
    <img class="small-img" src="assets/images/comet-1.svg">
  </div>
  <div class="row">
    <h2>My Work</h2>
    <p class="center-align">Here are some selected works.  I primarily deal with Angular or Django/Flask applications.</p>
  </div>
</section>

<section id="portfolio" class="z-depth-5">
  <article class="row">
    <div class="col s12 m4 projects">
      <img src="/assets/images/yoga-pose.svg">
      <p><a class="center-align" href="http://ginabakeryoga.com/" target="_blank">Gina Baker Yoga</a></p>
    </div>
    <div class="col s12 m4 projects">
      <img src="/assets/images/dryer.svg">
      <p><a class="center-align" href="http://danaellerman.com/" target="_blank">Dana Ellerman</a></p>
    </div>
    <div class="col s12 m4 projects no-border">
      <img src="/assets/images/sun.svg">
      <p><a class="center-align" href="https://weather-spa.herokuapp.com/" target="_blank">Weather</a></p>
    </div>
    <div class="col s12 m4 projects no-border-bottom">
      <img src="/assets/images/notepad.svg">
      <p><a class="center-align" href="" target="_blank">ToDo</a></p>
    </div>
    <div class="col s12 m4 projects no-border-bottom">
      <img src="/assets/images/keyboard.svg">
      <p><a class="center-align" href="" target="_blank">Django Blog (WIP)</a></p>
    </div>
    <div class="col s12 m4 projects no-border no-border-bottom">
      <img src="/assets/images/ufo.svg">
      <p><a class="center-align" href="#/contact">Your Next Project!</a></p>
    </div>
  </article>
</section>

<div class="space-ship-container">
  <div class="space-ship"></div>
</div>
